.b-list{
	list-style: none;
}
.b-tree__list{
	margin-top: 5px;
}
.b-tree__item{
	margin-bottom: 10px;
}
.b-tree__item-content{
	padding-left: 5px;
}
.b-tree__item-icon{
	width: 14px;
	height: 14px;
	cursor: pointer;
	display: none;
}
.b-tree__item_opened > .b-tree__item-icon{
	display: inline-block;
	background: url(icon/min.png) no-repeat;
}
.b-tree__item_closed > .b-tree__item-icon{
	display: inline-block;
	background: url(icon/plus.png) no-repeat;
}


.b-tree__item_opened > .b-tree__list{
	display: block;
}
.b-tree__item_closed > .b-tree__list{
	display: none;
}